/*@import './base.css';*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Used for debugging*/
.border-1 {
  border: 1px solid red;
}

@layer components {
  .tw-icon {
    @apply transition-all hover:scale-105 cursor-pointer text-lg duration-200
        text-gray-900 dark:text-gray-300;
  }

  /*Used as main class for components*/
  .tw-component-container {
    @apply w-[95%]
        max-sm:w-full
        h-auto
        relative
        flex
        flex-col
        items-center
        justify-center
        p-6
        max-sm:p-4
        bg-white
        dark:bg-dark-mode;
  }

  /*Used as main class in pages (where components are added)*/
  .tw-page-container {
    @apply w-full
        flex
        flex-col
        overflow-auto
        min-h-screen
        items-center
        justify-start

        bg-white
        dark:bg-dark-mode;
  }

  .tw-input,
  .tw-textarea {
    @apply bg-gray-50
        h-12
        border
        border-gray-300
        text-gray-900
        text-sm
        rounded-lg
        focus:ring-blue-500
        focus:border-blue-500
        block
        w-full
        ps-10
        p-2.5
        transition-all duration-100

        disabled:bg-gray-300
        disabled:cursor-not-allowed
        disabled:dark:disabled:bg-gray-800

        dark:bg-dark-mode-inside
        dark:border-gray-600
        dark:placeholder-gray-400
        dark:text-dark-mode-text
        dark:focus:ring-blue-500
        dark:focus:border-blue-500;
  }

  .tw-subheading {
    @apply text-3xl
        self-center
        text-center
        font-semibold

        text-black
        dark:text-title-dark-mode-text;
  }

  .tw-heading {
    @apply text-[40px]
        self-center
        text-center
        font-semibold
        mb-10
        animate-fadeInDown

        text-black
        dark:text-title-dark-mode-text;
  }

  .tw-heading-2 {
    @apply text-[25px]
        self-center
        mb-10
        animate-fadeInDown
        text-black
        dark:text-title-dark-mode-text;
  }

  .tw-input-label {
    @apply block
        mb-1
        text-base
        font-semibold
        text-gray-900
        dark:text-gray-200;
  }

  .text-link-style {
    @apply font-medium
        text-blue-500
        z-50
        transition-all duration-200
        hover:text-blue-600;
  }

  .btn-primary {
    @apply appearance-none
        border-solid
        border border-[#1b1f2326]
        rounded-md
        box-border
        cursor-pointer
        inline-block
        text-sm
        text-white
        text-center
        font-medium
        leading-5
        py-2
        px-4
        relative
        select-none
        touch-manipulation
        align-middle
        whitespace-nowrap
        transition ease-in-out hover:-translate-y-1 hover:scale-102 duration-200
        font-sans

        disabled:transition-none
        disabled:hover:translate-y-0
        disabled:hover:scale-100
        disabled:cursor-not-allowed
        disabled:bg-gray-500
        disabled:hover:bg-gray-500
        dark:disabled:bg-gray-500
        dark:disabled:hover:bg-gray-500;
  }

  .btn-blue {
    @apply bg-blue-500
        hover:bg-blue-600
        dark:text-title-dark-mode-text
        dark:bg-blue-700
        dark:hover:bg-blue-800;
  }

  .btn-gray {
    @apply bg-gray-300
        text-gray-700
        hover:bg-gray-400
        dark:text-title-dark-mode-text
        dark:bg-gray-600
        dark:hover:bg-gray-700;
  }

  .btn-transparent {
    @apply bg-transparent
        dark:bg-dark-mode-inside
        hover:bg-gray-100
        dark:hover:bg-dark-mode-inside-hover
        text-black
        dark:text-title-dark-mode-text;
  }

  .btn-green {
    @apply bg-green-700
        hover:bg-green-800
        dark:text-title-dark-mode-text
        dark:bg-green-800
        dark:hover:bg-green-900;
  }

  .tw-checkbox {
    @apply w-4
        h-4
        mr-2
        text-blue-600
        bg-gray-100
        text-[40px]
        dark:bg-gray-100
        border-gray-300
        dark:border-gray-600
        rounded
        focus:ring-blue-500
        dark:focus:ring-blue-600
        focus:ring-2
        dark:ring-offset-gray-800
        transition-all duration-200;
  }

  .tw-select {
    @apply bg-gray-50
        border
        border-gray-300
        text-gray-900
        text-sm
        rounded-lg
        focus:ring-blue-500
        focus:border-blue-500
        block
        w-full
        p-2.5

        dark:bg-dark-mode-inside
        dark:border-gray-600
        dark:placeholder-gray-400
        dark:text-dark-mode-text
        dark:focus:ring-blue-500
        dark:focus:border-blue-500;
  }

  .tw-loading-animation {
    @apply h-4
        w-4
        border-t-transparent
        border-solid
        animate-spin
        rounded-full
        border-white
        border-4;
  }

  .text-hint-style {
    @apply text-gray-500
        text-sm
        font-normal
        text-justify
        italic
        dark:text-gray-400;
  }

  .tw-input-error,
  .tw-textarea-error {
    @apply border-red-500
        focus:border-2
        focus:border-solid
        focus:border-red-500
        placeholder:text-red-500
        placeholder:opacity-100


        dark:border-red-500
        dark:focus:border-2
        dark:focus:border-solid
        dark:focus:border-red-500
        dark:placeholder:text-red-500;
  }

  .tw-input-error-label {
    @apply absolute
        left-0
        top-full
        ml-3
        mt-0.5
        text-red-500
        text-xs
        transition-opacity
        duration-300;
  }

  .tw-navbar-dropdown-container {
    @apply inline-block
        relative
        text-left
        rounded;
  }

  .navbar-button-container {
    @apply border-transparent
        py-1
        px-1
        w-full
        h-full
        flex
        justify-center
        items-center;
  }

  .tw-dropdown-inner-layout {
    @apply origin-top-right
        absolute
        mt-2
        rounded-md
        shadow-lg
        bg-white
        dark:bg-dark-mode-dropdown
        ring-1
        ring-black
        ring-opacity-5
        focus:outline-none
        z-20
        cursor-pointer
        select-none;
  }

  .tw-dropdown-separator {
    @apply w-full
        bg-gray-200
        dark:bg-dark-mode-inside
        border-transparent
        rounded-full
        p-[0.03rem]
        m-0;
  }

  .tw-dropdown-inner-action-layout {
    @apply text-base
        text-gray-700
        dark:text-title-dark-mode-text
        hover:bg-gray-100
        dark:hover:bg-dark-mode-dropdown-hover
        w-auto
        px-2
        py-2
        rounded-md
        flex
        items-center;
  }

  .tw-navbar-dropdown-icon {
    @apply mr-3 text-base w-7 h-5 flex justify-center items-center;
  }

  .tw-link-style {
    @apply text-black dark:text-title-dark-mode-text hover:text-blue-500 text-center transition-all duration-300 decoration-0 font-medium;
  }

  .tw-footer-margin {
    @apply mb-10;
  }

  .poi-sidebar-container {
    @apply w-[25%]
        bg-gray-100
        p-4 space-y-4
        max-sm:w-full
        max-sm:mt-20
        max-h-[78vh];
  }

  .map-sidebar-container {
    @apply flex h-screen max-h-[76vh]
        w-[95%]
        /* max-sm:w-full */
        mb-5 mt-5
         flex-row max-sm:flex-col;
  }

  .map-container {
    @apply flex-1 w-[75%] max-sm:w-full  bg-gray-50 p-8 max-sm:p-0;
  }

  .snackbar {
    @apply fixed
        top-2.5
        left-1/2
        -translate-x-1/2
        text-white
        rounded-lg
        px-5
        py-2.5
        z-[9999]
        pointer-events-none
        opacity-0
        -translate-y-2
        transition-all
        duration-300
        ease-in-out;
  }

  .snackbar.show {
    @apply pointer-events-auto
        opacity-100
        translate-y-0;
  }

  .snackbar-success {
    @apply bg-green-700;
  }

  .snackbar-warn {
    @apply bg-orange-700;
  }

  .snackbar-error {
    @apply bg-red-500;
  }

  .snackbar-general {
    @apply bg-neutral-500;
  }

  .tabs {
    @apply w-full;
  }

  .tab-titles {
    @apply flex cursor-pointer border-b-gray-300 border-b border-solid;
  }

  .tab-title {
    @apply bg-[#f1f1f1] border-r-gray-300 border-t-gray-300 border-l-gray-300 p-2.5 rounded-[10px_10px_0px_0px] border-r border-solid border-t border-l
        dark:bg-gray-600
        dark:hover:bg-gray-700;
  }

  .tab-title.active {
    @apply bg-blue-500 text-[white]
        dark:bg-blue-700
        dark:hover:bg-blue-800;
  }

  .tab-content {
    @apply border border-gray-300 p-5 border-t-[none] border-solid;
  }

  .tw-book-entry-info-title {
    @apply text-sm dark:text-title-dark-mode-text;
  }

  .tw-book-entry-info-value {
    @apply text-gray-600 dark:text-gray-400;
  }

  .popup-overlay {
    @apply fixed w-full h-full flex justify-center items-center z-[1000] left-0 top-0;
    background: rgba(0, 0, 0, 0.5);
  }
  .popup-content {
    @apply bg-[white] max-w-lg w-full relative p-5 rounded-lg;
  }
  .popup-close-btn {
    @apply absolute text-base cursor-pointer border-[none] right-2.5 top-2.5;
    background: none;
  }
}
